.bg-header{
    padding: 8px;
    text-align: center;
    background: url("./images/bg1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    justify-content: center;align-items: center; display: flex;
}

.content{
    margin-bottom: 80px;
}

.content2{
    margin-bottom: 80px;
}


.bg-footer{
    padding: 8px;
    text-align: center;
    background: url("./images/bg2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color:#fff;
}

.logo{
    width: 140px;
}

.carrosel-area{
    margin-top: 100px;
}

.titulo-categoria{
    font-size: 150%;
    color: #d20202;
    padding: 10px;
    text-align: center;
}